<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <script src="../../Scripts/echarts.js"></script>
    <script src="../../Source/packages/layui/layui.js"></script>
    <script src="../../Scripts/Project/Home/homePage.js"></script>
    <link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>当前位置&gt;&gt;主页</legend>
    </fieldset>
    <div style="padding:20px; background-color:#F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        快速导航
                    </div>
                    <div class="layui-card-body" id="btn_list">

                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div id="echarts" style="width: 600px;height: 400px;margin:0 auto; text-align: center;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        使用教程
                    </div>
                    <div class="layui-card-body">
                        1、企业可在“招聘中心”处发布招聘信息；可在“人才市场”中对青睐的人才发出面试邀请
                        <br>
                        2、求职者可在“我的简历”处预览自己的简历，并可发布到“人才市场”
                        <br>
                        3、“求职资讯”内含我站精心准备的求职精华文章，欢迎点击阅览
                        <br>
                        4、各用户须留意“通知中心”处查收通知
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
